.jujutsu-kaisen {
    width: 400px;
    }

    body {
        background-color: #34B0B0;
        color: rgb(101, 12, 101);
        cursor: url('../images/Untitled.png'), auto;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
    h1 {
        text-align: center;
    }
    h2 {text-align: center;}
    h3 {text-align: center;}
    div {
        text-align: justify;
    }
   p2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }